@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
/*font-family: 'Poppins', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Poppins:wght@300;500&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	
}

video{
	position: fixed;
	min-width: 100%;
	min-height: 60%;
	
	top: 50%;
	left: 50%;
	transform:  translateX(-50%) translateY(-50%);

	z-index: -1;
}

a{
	text-decoration: none;
	color: white;
}

 /*HEADER*/

header{
	display: flex;                 
	flex-direction: column;     /*ordenar elemntos*/
	align-items: center;
	min-height: 70px;
	background: black;
	font-family: sans-serif;
}

.logo-speed{
	display: flex;
	align-items: center;
}

.logo-img{
	height: 50px;
	margin-right: 15px;
}

.logo-nombre{
	font-size: 1.3em;

}



nav{
	padding-bottom: 3px;

}
nav a{
	font-family: 'Poppins', sans-serif; 
	padding-left: 10px;
}

nav a:hover{
	color: #F43222;

}

@media (min-width: 600px){
	header{
		flex-direction: row;
		padding: 0px 30px;
		justify-content: space-between;
	}
}

/*CONTENIDO  CENTRAL */



.contenido-index{                      /*titulo y descripcion de la pagina inicio*/
	padding-top: 400px;
	padding-bottom: 700px;
	text-align: center;
	font-size: 40px;
	font-family: 'Creepster', cursive;

	margin-bottom: 0px;
	color: white;

	background: rgba(0,0,0,0.5);


}

.contenido-index h1{
	font-size: 150px;
}

.fondo-inicial{
	
	min-height: calc(100vh - 70px); /*MANTENER EL FOOTER SIEMPRE ABAJO*/
	border:solid black;
}



/*INICIO DE LOGIN*/

section{

	background-image: url(Img/parkour.jpg);
	
	background-size: cover;
	margin:0;
	padding-top:0;
	height:900px;
	width: 100%; 
	display:flex;
	justify-content: center;
	align-items: center;

}

.content-login{
	
	width: 400px;
	height: 480px;
	font-family: 'Dancing Script', cursive;
	background: white;

	top:50%;
	left: 50%;

	transform: translate(-50%, -50%);
	box-sizing: border-box;
	border-radius: 50px;
	position: absolute;
	border:solid;

	padding: 70px 30px;

}

.content-login .avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.content-login label{
	
	
	margin-left: 30px;
	margin-bottom: 5px;
	padding: 0;
	font-weight: bold;
	display: block;
}

.content-login h1{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 0;
	font-weight: bold;
	display: block;
}

.content-login input{
	 width: 80%;
	 margin-bottom: 20px;
	 margin-left: 30px;
}

.content-login input[type="text"],
.content-login input[type="password"]{
	border: solid black;
	outline: none;
	height: 40px;
	color: black;
	font-size: 16px;
	padding-left: 20px;
}


.content-login input[type="submit"]{
	border:none;
	outline: none;
	height: 40px;
	background: black;
	color: white;
	font-size: 18px;
	border-radius: 20px;
	margin-left: 45px;


}

.content-login a{
	color: gray;
	display: block;
	text-align: center;
	margin-left: 10px;
}
.content-login a:hover{
	color: #F43222;
}

/*SOBRE NOSOTROS*/

.contenido-about{


	min-height: calc(100vh - 70px);

		background-image: url(Img/parkour.jpg);
	
	background-size: cover;
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 4px;

	position: relative;
   	margin-bottom: 0px;
}

.about-p{
	margin-top: 30px;
	margin-bottom: 30px;
	background: white;
	width: 800px;
	height: auto;
	border-radius: 10px;
}
.about-p h1{
	padding-top: 15px;
	text-align: center;
	padding-bottom: 13px;
}
.about-p p{
	text-align: justify;
	justify-content: center ;
	font-family: 'Poppins', sans-serif;
	padding: 10px; 
}
/*SECCION DE SERVIVIOS*/

.titulo-services{
	padding-top: 10px;
	text-align: center;
	font-size: 40px;
	font-family: 'Dancing Script', cursive;
	margin-bottom: 40px;
	color: black;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
	display: block;
}

.contenido-services{
	
	background-image: url(Img/parkour.jpg);
	
	background-size: cover;
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 4px;

	position: relative;
   	margin-bottom: 0px;

}

.item{
	background: white;
	margin: 30px;
	width: 20%;
	border-radius: 10px;
	
	font-family: 'Dancing Script', cursive;
	-webkit-box-shadow: 18px 24px 12px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 18px 24px 12px 2px rgba(0,0,0,0.75);
box-shadow: 18px 24px 12px 2px rgba(0,0,0,0.75);

}
.item h2{
	text-align: center;
	position: relative;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;

	

}

.linea{
	padding: 0;
	border-top: 1px solid black;
	height: 2px;
}

/*.item h2::after,h2:before{

	content: "";
	position: absolute;
	width: 10px;
	height: 3px;                       //Lineas de horizontales para los titulos (beta)
	background-color: currentColor;
	top: 0.9em;
} 

.item h2::before{
	left: -140px;
}
.item h2::after{
	right:-140px;
}*/


.item p{
	padding: 20px;

}

.contenido-services div:hover{
	-webkit-transform: scale(1.08,1.08);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 300ms;
	-moz-transform: scale(1.08,1.08);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 300ms;
}



.profile{
	width: 400px;
	height: auto;
	
	margin-top: 50px;
	margin-left: 200px;
	border-radius: 18px;

	-webkit-box-shadow: 18px 24px 12px 2px rgba(0,0,0,0.65);
-moz-box-shadow: 18px 24px 12px 2px rgba(0,0,0,0.65);
box-shadow: 18px 24px 12px 2px rgba(0,0,0,0.65);

}


.about-p div:hover{
		-webkit-transform: scale(1.08,1.08);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 300ms;
	-moz-transform: scale(1.08,1.08);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 300ms;
}
.profile h1{
	text-align:center;
	padding-bottom: 4px;

}
.profile h2{
	text-align:center;
	padding-top: 10px;
	padding-bottom: 10px;

}
.profile p{
	text-align:justify;
	padding: 15px;

}
.profile img{

	width: 120px;
	border-radius: 50%;
	position: relative;
	left: calc(50% - 50px);
}

.whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:white;
  color:black;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}

.whatsapp-icon {
  margin-top:13px;
}

.whatsapp i:hover{
	color: green;
}




/*CONTENIDO DEL FOOTER*/
.pie-pagina{
	width: 100%;
	background: black;
}

.pie-pagina .grupo-1{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 50px;
	padding: 45px 0px;
	color: white;
}
.pie-pagina .grupo-1 .box figure{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
	width: 130px;
}

.pie-pagina .grupo-1 .box h2{
	color: white;
	margin-bottom: 25px;
	font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
	color:#B3B6B7;
	margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
	display: inline-block;
	text-decoration: none;
	width: 45px;
	height: 45px;
	line-height: 45px;
	color: white;
	margin-right: 10px;
	background-color: #34495E;
	text-align: center;
	transition: all 300ms ease;
	border-radius: 50%;
}

.pie-pagina .grupo-1 .red-social a:hover{
	color: #F43222;
}
.pie-pagina .grupo-2{
	background-color: #201F1F;
	padding: 15px 10px;
	text-align: center;
	color: white;
}

.pie-pagina .grupo-2{
	font-size: 15px;
}

@media screen and (max-width: 800px){
	.pie-pagina .grupo-1{
		width: 90%;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 30px;
		padding: 35px 0px;
	}
}