*{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	font-family: sans-serif;
	background-color: green;
}


header{
	display: flex;                 
	flex-direction: column;     /*ordenar elemntos*/
	align-items: center;
	min-height: 70px;
	background: black;
}

.logo-speed{
	display: flex;
	align-items: center;
}

.logo-img{
	height: 50px;
	margin-right: 15px;
}

.logo-nombre{
	font-size: 1.3em;
}



nav{
	padding-bottom: 3px;

}
nav a{
	font-family: 'Poppins', sans-serif; 
	padding-left: 10px;
}

nav a:hover{
	color: #F43222;

}

@media (min-width: 600px){
	header{
		flex-direction: row;
		padding: 0px 30px;
		justify-content: space-between;
	}
}